extends layout

block content
  //- p #{products}
  .container
    each val in products
      .column
        .col-sm-4.col-lg-4.col-md-4
          .thumbnail
            img(src='http://placehold.it/320x150', alt='')
            .caption
              h4.pull-left #{val.category}
              h4.pull-right.text-primary $#{val.price}
              h4.text-center
                strong
                  a(href='#') #{val.name}
              hr
              h4.text-center Detalles
              .text-center.text-info #{val.description}
              strong.text-success Publicado el: #{val.publishedAt}
                //- a(target='_blank', href='http://www.bootsnipp.com') Bootsnipp - http://bootsnipp.com
            //- .ratings
            //-   p.pull-right 15 reviews
            //-   p
            //-     span.glyphicon.glyphicon-star
            //-     span.glyphicon.glyphicon-star
            //-     span.glyphicon.glyphicon-star
            //-     span.glyphicon.glyphicon-star
            //-     span.glyphicon.glyphicon-star
